# merge all zones real distances in a csv

In [26]:
import pandas as pd

df1 = pd.read_csv("/Users/anuragchaubey/Desktop/data/northern_zone.csv")
df2 = pd.read_csv("/Users/anuragchaubey/Desktop/data/central_zone.csv")
df3 = pd.read_csv("/Users/anuragchaubey/Desktop/data/southern_zone.csv")    
df4 = pd.read_csv("/Users/anuragchaubey/Desktop/data/eastern_zone.csv")
df5 = pd.read_csv("/Users/anuragchaubey/Desktop/data/western_zone.csv")
df6 = pd.read_csv("/Users/anuragchaubey/Desktop/data/north_eastern_zone.csv")

In [27]:
df1.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,osrm_road_distance_km
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,1900-01-01 11:45:00,Sunny,High,motorcycle,Urban,120,Clothing,0.0
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,1900-01-01 19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics,0.0
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,1900-01-01 08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports,0.0
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,1900-01-01 18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,0.0
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,1900-01-01 13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys,0.0

In [28]:
df2.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,osrm_road_distance_km
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,1900-01-01 11:45:00,Sunny,High,motorcycle,Urban,120,Clothing,4.46
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,1900-01-01 19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics,0.00
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,1900-01-01 08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports,0.00
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,1900-01-01 18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,0.00
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,1900-01-01 13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys,0.00

In [29]:
df3.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,osrm_road_distance_km
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,1900-01-01 11:45:00,Sunny,High,motorcycle,Urban,120,Clothing,0.00
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,1900-01-01 19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics,30.06
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,1900-01-01 08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports,5.13
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,1900-01-01 18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,13.26
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,1900-01-01 13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys,8.92

In [30]:
df4.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,osrm_road_distance_km
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,1900-01-01 11:45:00,Sunny,High,motorcycle,Urban,120,Clothing,0.0
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,1900-01-01 19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics,0.0
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,1900-01-01 08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports,0.0
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,1900-01-01 18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,0.0
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,1900-01-01 13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys,0.0

In [31]:
df5.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,osrm_road_distance_km
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,1900-01-01 11:45:00,Sunny,High,motorcycle,Urban,120,Clothing,0.0
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,1900-01-01 19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics,0.0
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,1900-01-01 08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports,0.0
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,1900-01-01 18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,0.0
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,1900-01-01 13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys,0.0

In [32]:
df6.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,osrm_road_distance_km
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,1900-01-01 11:45:00,Sunny,High,motorcycle,Urban,120,Clothing,0.0
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,1900-01-01 19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics,0.0
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,1900-01-01 08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports,0.0
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,1900-01-01 18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,0.0
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,1900-01-01 13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys,0.0

In [33]:
merged_df = df1.copy()

# list of other dataframes
dfs = [df2, df3, df4, df5, df6]

# fill missing distances from each zone's data
for df in dfs:
    merged_df["osrm_road_distance_km"] = merged_df["osrm_road_distance_km"].where(
        merged_df["osrm_road_distance_km"] != 0,  # keep if already non-zero
        df["osrm_road_distance_km"]               # otherwise take from this df
    )

In [34]:
merged_df.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,osrm_road_distance_km
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,1900-01-01 11:45:00,Sunny,High,motorcycle,Urban,120,Clothing,4.46
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,1900-01-01 19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics,30.06
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,1900-01-01 08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports,5.13
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,1900-01-01 18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,13.26
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,1900-01-01 13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys,8.92

In [35]:
merged_df.isnull().sum()

Order_ID                 0
Agent_Age                0
Agent_Rating             0
Store_Latitude           0
Store_Longitude          0
Drop_Latitude            0
Drop_Longitude           0
Order_Date               0
Order_Time               0
Pickup_Time              0
Weather                  0
Traffic                  0
Vehicle                  0
Area                     0
Delivery_Time            0
Category                 0
osrm_road_distance_km    0
dtype: int64

In [36]:
non_zero_count = (merged_df["osrm_road_distance_km"] != 0).sum()

print(f"✅ Non-zero distance count: {non_zero_count}")
merged_df.shape

✅ Non-zero distance count: 40109

(43594, 17)

In [37]:
df = merged_df[merged_df["osrm_road_distance_km"] != 0] 

df.shape

(40109, 17)

In [38]:
df.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,osrm_road_distance_km
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,1900-01-01 11:45:00,Sunny,High,motorcycle,Urban,120,Clothing,4.46
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,1900-01-01 19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics,30.06
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,1900-01-01 08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports,5.13
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,1900-01-01 18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,13.26
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,1900-01-01 13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys,8.92

In [39]:
df.isnull().sum()

Order_ID                 0
Agent_Age                0
Agent_Rating             0
Store_Latitude           0
Store_Longitude          0
Drop_Latitude            0
Drop_Longitude           0
Order_Date               0
Order_Time               0
Pickup_Time              0
Weather                  0
Traffic                  0
Vehicle                  0
Area                     0
Delivery_Time            0
Category                 0
osrm_road_distance_km    0
dtype: int64

In [40]:
df.dtypes

Order_ID                  object
Agent_Age                  int64
Agent_Rating             float64
Store_Latitude           float64
Store_Longitude          float64
Drop_Latitude            float64
Drop_Longitude           float64
Order_Date                object
Order_Time                object
Pickup_Time               object
Weather                   object
Traffic                   object
Vehicle                   object
Area                      object
Delivery_Time              int64
Category                  object
osrm_road_distance_km    float64
dtype: object

In [41]:
df.columns = ["real_distance_km" if col == "osrm_road_distance_km" else col for col in df.columns]

In [42]:
# Save final CSV
df.to_csv("/Users/anuragchaubey/MilesAhead/data/processed/delivery_data_real_distance.csv", index=False)

In [43]:
df_final = pd.read_csv("/Users/anuragchaubey/MilesAhead/data/processed/delivery_data_real_distance.csv")

In [44]:
df_final.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,real_distance_km
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,1900-01-01 11:45:00,Sunny,High,motorcycle,Urban,120,Clothing,4.46
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,1900-01-01 19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics,30.06
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,1900-01-01 08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports,5.13
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,1900-01-01 18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,13.26
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,1900-01-01 13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys,8.92

In [45]:
df_final.isnull().sum()

Order_ID            0
Agent_Age           0
Agent_Rating        0
Store_Latitude      0
Store_Longitude     0
Drop_Latitude       0
Drop_Longitude      0
Order_Date          0
Order_Time          0
Pickup_Time         0
Weather             0
Traffic             0
Vehicle             0
Area                0
Delivery_Time       0
Category            0
real_distance_km    0
dtype: int64

## convert all columns to appropriate data types

In [46]:
# convert 'Order_Date' to datetime
df_final['Order_Date'] = pd.to_datetime(df_final['Order_Date'], errors='coerce')

In [47]:
# Add dummy date to convert time strings to datetime 

time_format = "%Y-%m-%d %H:%M:%S"

df_final['Order_Time'] = pd.to_datetime(
    "1900-01-01 " + df_final['Order_Time'].astype(str),
    format=time_format,
    errors='coerce'
)

df_final['Pickup_Time'] = pd.to_datetime(
    "1900-01-01 " + df_final['Pickup_Time'].astype(str),
    format=time_format,
    errors='coerce'
)

In [48]:
df_final.dtypes

Order_ID                    object
Agent_Age                    int64
Agent_Rating               float64
Store_Latitude             float64
Store_Longitude            float64
Drop_Latitude              float64
Drop_Longitude             float64
Order_Date          datetime64[ns]
Order_Time          datetime64[ns]
Pickup_Time         datetime64[ns]
Weather                     object
Traffic                     object
Vehicle                     object
Area                        object
Delivery_Time                int64
Category                    object
real_distance_km           float64
dtype: object

In [49]:
df_final.to_csv("/Users/anuragchaubey/MilesAhead/data/processed/delivery_data_final.csv", index=False)